.logo {
  display: flex;
  align-items: center;
  padding: 6px 12px;
}

.logoTitle {
  font-weight: 900;
  font-size: 16px;
}

.logoImg {
  width: 30px;
  max-height: 30px !important;
  margin-right: 5px;
}
